
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>New Client</title>
<link rel="stylesheet" href="css\bootstrap.min.css" />
<link rel="stylesheet" href="css\estilo.css">
<script src="js\jquery-3.6.0.min.js"></script>
<script src="js\bootstrap.min.js"></script>
<script src="js\popper.js"></script>
<script src="https://kit.fontawesome.com/e22ea825df.js"
	crossorigin="anonymous"></script>

</head>

<body>

	<div class="container-fluid px-0">
		<nav class="navbar navbar-expand-lg navbar-dark menus">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i
					class="fas fa-th icononav"></i></a> <a class="navbar-brand"
					href="/index" style="font-weight: bold;">Nuevo Cliente</a>
				<div class="collapse navbar-collapse ps-3"
					id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item dropdown pt-1 botonnav"><a
							class="nav-item dropdown-toggle botonnav" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">Pedidos</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Presupuestos</a></li>
								<li><a class="dropdown-item" href="#">Pedidos</a></li>
								<li><a class="dropdown-item" href="#">Equipos de ventas</a></li>
								<li><a class="dropdown-item" href="/cliente">Clientes</a></li>
							</ul></li>

						<li class="nav-item menuder"><a href="#" class="nav-link">A
								facturar</a></li>
						<li class="nav-item menuder"><a href="#" class="nav-link ">Productos</a></li>
						<li class="nav-item menuder"><a href="#" class="nav-link">Informes</a></li>
						<li class="nav-item menuder"><a href="#" class="nav-link">Configuración</a></li>
					</ul>
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link" href="#"> <i
								class="fas fa-comments"></i> <span
								class="badge badge-pill badge-info"
								style="background-color: #138496; font-size: 9px; border-radius: 0.40rem; position: absolute;">1</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <i
								class="far fa-clock"></i>
						</a></li>
						<li class="nav-item dropdown pt-2 "><a
							class="nav-item dropdown-toggle icono" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false"><i class="fas fa-tools"></i></a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Opcion 1</a></li>
								<li><a class="dropdown-item" href="#">Opcion 2</a></li>
								<li><a class="dropdown-item" href="#">Opcion 3</a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link" href="#"><i
								class="fas fa-user-circle nav-item"></i>Elquetecuento</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>



	<div class="container-fluid">

		<div class="row pt-3">
			<div class="col-6">
				<span class="titulopagina"><span style="color: #138496">Cliente</span>/
					New</span>
			</div>

		</div>
		<br />
		<div class="row pb-3" style="border-bottom: solid 2px lightgray;">
			<div class="col-6">
				<button type="button" class="btn btn-secondary boton1">Guardar</button>
				<button class="btn" style="color: #138496;">Descartar</button>
			</div>
		</div>

		<div class="row justify-content-center"
			style="background-color: #f1f1f1;">
			<div class="col-11 mt-3 mb-3"
				style="background-color: white; border: solid 2px lightgray;">
				<form id="formulario" action="/clientes_new" method="post">
				<div class="principal">
					<div class="contenedor">
						<div class="formulario" style="display: flex;">
							<div class="col">
								
									<div class="form-row">
										<div class="form-group col-md-4">
											<label for="inputclientID"> <strong>Nombre</strong></label> <input
												type="text" class="form-control" id="nameClient"
												name="nombreacliente" required> <small id="idHelp"
												class="form-text text-muted"> <em> Escriba su
													nombre o el de su compañía.</em>
											</small>
										</div>
										<br>
										<div class="form-group col-md-4">
											<label for="inputName"> <strong>Apellidos</strong></label>
											<div style="display: flex;">
												<input type="text" class="form-control" id="inputName"
													name="apellidoscliente"> <small
													id="nombreIndiOCompa" class="form-text text-muted">
													<em> Escriba su apellido.</em>
												</small>
											</div>
										</div>
										<br>
										<div class="form-group col-md-4">
											<label for="inputUsuario"> <strong>Individual/Compañia</strong></label>
											<input type="text" class="form-control" id="indiOrCompany"
												name="indiOComp" required> <small id="indiOcompa"
												class="form-text text-muted"> <em> Indique si
													es un cliente autonomo o es una compañia.</em></small>
										</div>
										<br>
										<div class="form-group col-md-6">
											<label for="inputDirection"> <strong>Dirección</strong></label>
											<div style="display: flex;">
												<input type="text" class="form-control" id="inputDir"
													name="direction1" required> <small id="direccion1"
													class="form-text text-muted"> <em> Indique su
														dirección.</em></small>
											</div>
										</div>
										<br>
										<div class="form-group col-md-6">
											<label for="inputDirection2"> <strong>Dirección
													2</strong></label>
											<div style="display: flex;">
												<input type="text" class="form-control" id="inputDir2"
													name="direction2"> <small id="direccion2"
													class="form-text text-muted"> <em> Indique su
														segunda dirección.</em></small>
											</div>
										</div>
										<br>
										<div class="form-group col-md-4">
											<label for="inputCity"> <strong>Ciudad</strong></label>
											<div style="display: flex;">
												<input type="text" class="form-control" id="inputCit"
													name="ciudad" required> <small id="nameCity"
													class="form-text text-muted"> <em> Indique su
														Ciudad.</em></small>
											</div>
										</div>
										<br>
										<div class="form-group col-md-3">
											<label for="inputState"><strong>Provincia</strong></label> <select
												id="inputProvincia" class="form-control" name="provincia">
												<option selected>Selecciona una...</option>
												<option value='1'>Álava</option>
												<option value='2'>Albacete</option>
												<option value='3'>Alicante/Alacant</option>
												<option value='4'>Almería</option>
												<option value='5'>Asturias</option>
												<option value='6'>Ávila</option>
												<option value='7'>Badajoz</option>
												<option value='8'>Barcelona</option>
												<option value='9'>Burgos</option>
												<option value='10'>Cáceres</option>
												<option value='11'>Cádiz</option>
												<option value='12'>Cantabria</option>
												<option value='13'>Castellón/Castelló</option>
												<option value='14'>Ceuta</option>
												<option value='15'>Ciudad Real</option>
												<option value='16'>Córdoba</option>
												<option value='17'>Cuenca</option>
												<option value='18'>Girona</option>
												<option value='19'>Las Palmas</option>
												<option value='20'>Granada</option>
												<option value='21'>Guadalajara</option>
												<option value='22'>Guipúzcoa</option>
												<option value='23'>Huelva</option>
												<option value='24'>Huesca</option>
												<option value='25'>Illes Balears</option>
												<option value='26'>Jaén</option>
												<option value='27'>A Coruña</option>
												<option value='28'>La Rioja</option>
												<option value='29'>León</option>
												<option value='30'>Lleida</option>
												<option value='31'>Lugo</option>
												<option value='32'>Madrid</option>
												<option value='33'>Málaga</option>
												<option value='34'>Melilla</option>
												<option value='35'>Murcia</option>
												<option value='36'>Navarra</option>
												<option value='37'>Ourense</option>
												<option value='38'>Palencia</option>
												<option value='39'>Pontevedra</option>
												<option value='40'>Salamanca</option>
												<option value='42'>Segovia</option>
												<option value='43'>Sevilla</option>
												<option value='44'>Soria</option>
												<option value='45'>Tarragona</option>
												<option value='46'>Santa Cruz de Tenerife</option>
												<option value='47'>Teruel</option>
												<option value='48'>Toledo</option>
												<option value='49'>Valencia/Valéncia</option>
												<option value='50'>Valladolid</option>
												<option value='51'>Vizcaya</option>
												<option value='52'>Zamora</option>
												<option value='53'>Zaragoza</option>
											</select>
										</div>
										<br>
										<div class="form-group col-md-2">
											<label for="inputCp"> <strong>Código Postal</strong></label>
											<div style="display: flex;">
												<input type="number" class="form-control" id="inputCpost"
													name="codigoPostal" required> <small id="cPost"
													class="form-text text-muted"> <em> Indique su
														Código Postal.</em></small>
											</div>
										</div>
										<br>
										<!-- <div class="form-group col-md-3">
												<label for="inputState"><strong>País</strong></label> 
												<select id="inputPais" class="form-control" name="pais" >
                                                      
													<option selected>Selecciona...</option>
													<option  th:each="pais:${paises}" th:text="${pais.nombrepais}"  th:value="${pais.codigopais}" ></option>
													
												</select>
											</div>-->
									</div>
							</div>
						</div>
						<br>
						<div class="form-group col-md-4">
							<label for="inputNif"> <strong>NIF</strong></label>
							<div style="display: flex;">
								<input type="text" class="form-control" id="inputNIf" name="nif"
									required> <small id="nIf" class="form-text text-muted">
									<em> Indique su NIF.</em>
								</small>
							</div>
						</div>
						<br>
						<div class="form-group col-md-4">
							<label for="inputTel"> <strong>Teléfono</strong></label>
							<div style="display: flex;">
								<input type="number" class="form-control" id="inputTelf"
									name="telefono" required> <small id="telF"
									class="form-text text-muted"> <em> Indique su
										Teléfono.</em></small>
							</div>
						</div>
						<br>
						<div class="form-group col-md-4">
							<label for="inputMov"> <strong>Móvil</strong></label>
							<div style="display: flex;">
								<input type="number" class="form-control" id="inputMvl"
									name="movil" required> <small id="mVl"
									class="form-text text-muted"> <em> Indique su
										Móvil.</em></small>
							</div>
						</div>
						<br>
						<div class="form-group col-md-6">
							<label for="inputEmail"> <strong>Correo
									electrónico</strong></label>
							<div style="display: flex;">
								<input type="email" class="form-control" id="inputMail"
									name="email" required> <small id="eMail"
									class="form-text text-muted"> <em> Indique su
										Correo electrónico.</em></small>
							</div>
						</div>
						<br>
						<div class="form-group col-md-6">
							<label for="inputEmail"> <strong>Página Web</strong></label> <input
								type="text" class="form-control" id="inputWeb" name="paginaweb">
							<small id="wEb" class="form-text text-muted"> <em>
									Indique su pagina web.</em></small>
						</div>
					</div>
					<br>
					<div class="form-group col-md-2">
						<label for="inputCategory"> <strong>Categorías</strong></label> <input
							type="text" class="form-control" id="inputCat" name="categorias"
							required> <small id="cAtegory"
							class="form-text text-muted"> <em> Aquí su
								Categoría.</em></small>
					</div>
				</div>

				<br>

				<button type="submit" class="btn btn-primary btn_verde">Añadir</button>
			</form>
			</div>

		</div>
	</div>

</body>

</html>